.buscador
	width: 100%
	height: 25rem
	padding: 10rem
	background-image: url("../images/cover.jpg")
	background-size: cover
	text-align: center
	&__input
		width: 75%
		height: 6rem
		padding: 2rem
		border: none 
		border-radius: 3rem
		font-size: 2.5rem