.contenido
	margin-bottom: 4rem
	justify-content: space-evenly
	flex-wrap: wrap
	contenedor()

.caja
	max-width: 41rem
	margin-top: 2.5rem
	caja-sombra()
	&__imagen
		img
			max-width: 41rem
	&__contenido
		padding: 2rem
		background-color: color-claro
		span
			font-size: 1.3rem
			color: color-secundario
			titulos(Fuente2)
		h3
			titulos(Fuente2)
		p
			titulos(Fuente1)
			font-size: 1.3rem

.caja2
	max-width: 41rem
	margin-top: 2.5rem
	caja-sombra()
	&__contenido
		padding: 2rem
		background-color: color-claro
		span
			font-size: 1.3rem
			color: color-secundario
			titulos(Fuente2)
		h3
			titulos(Fuente2)
		p
			titulos(Fuente1)
			font-size: 1.3rem