.estadistica--articulos
    height: 7rem
    padding: 1.5rem
    border-top: 1px solid opacidad(color-primario, .30)
    ul
        display: flex
        justify-content: space-evenly
        li
            list-style: none
            color: opacidad(color-primario, .30)
        span
            margin-left: 1rem