.encabezado--con-filtros
	contenedor()
	h2
		margin-top: 1rem
		font-size: 5rem
		titulos(Fuente2)
	.filtros
		width: 25rem
		height: 7.5rem
		padding: 2rem
		margin-left: auto
		caja-sombra()
		span
			font-size: 1.5rem
			titulos(Fuente2)
		a
			margin-left: 2rem 
			font-size: 2.5rem
			color: color-primario